n8n-workflows-main/Facebook Auto Reply.json
{
  "name": "Facebook Auto Reply",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "<REDACTED_ID_001>",
      "name": "Facebook Comment Trigger",
      "type": "n8n-nodes-base.facebookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json.comment_id }}",
        "options": {}
      },
      "id": "<REDACTED_ID_002>",
      "name": "Get Comment Details",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a customer service assistant for a Facebook page. Your task is to generate helpful, professional replies to customer comments based on the knowledge base provided as a tool. Use the Search Knowledge Base tool to find relevant FAQ entries. Format your reply concisely and politely. If no relevant info is found, suggest contacting support."
        }
      },
      "id": "<REDACTED_ID_003>",
      "name": "Reply Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        112
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-7",
        "options": {}
      },
      "id": "<REDACTED_ID_004>",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "<REDACTED_VALUE>"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "<REDACTED_VALUE>"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "<REDACTED_ID_005>",
      "name": "Search Knowledge Base",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        624,
        336
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v19.0",
        "node": "={{ $(\"Facebook Comment Trigger\").item.json.comment_id }}",
        "edge": "comments",
        "options": {}
      },
      "id": "<REDACTED_ID_006>",
      "name": "Post Reply",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        800,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Facebook Comment Trigger": {
      "main": [
        [
          {
            "node": "Get Comment Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comment Details": {
      "main": [
        [
          {
            "node": "Reply Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Assistant": {
      "main": [
        [
          {
            "node": "Post Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reply Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Reply Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "<REDACTED_VERSIONID>",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "<REDACTED_INSTANCEID>"
  },
  "id": "<REDACTED_ID_007>",
  "tags": []
}
