n8n-workflows-main/Payment Reminder.json
{
  "name": "Payment Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "<REDACTED_ID_001>",
      "name": "Daily 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "<REDACTED_ID_002>",
      "name": "Read Sent Invoice Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json[\"Status\"] }}",
              "rightValue": "Sent",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "<REDACTED_ID_003>"
            },
            {
              "id": "<REDACTED_ID_004>",
              "leftValue": "={{ DateTime.fromISO($json[\"Sent At\"]) <= $now.minus({ days: 7 }) && String($json[\"Paid Status\"] || \"\").toLowerCase() !== \"paid\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "<REDACTED_ID_005>",
      "name": "Needs Payment Reminder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Payment reminder for invoice {{ $json[\"Invoice Number\"] }}",
        "message": "=Hello {{ $json[\"Customer Name\"] || \"there\" }},<br><br>This is a friendly reminder that invoice {{ $json[\"Invoice Number\"] }} for {{ $json.Amount || \"the billed amount\" }} is still awaiting payment. The invoice was sent on {{ $json[\"Sent At\"] }}{{ $json[\"Due Date\"] ? \" and was due by \" + $json[\"Due Date\"] : \"\" }}.<br><br>Please let us know if you have already paid or need any help with this invoice.<br><br>Thank you,<br>Billing Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "<REDACTED_ID_006>",
      "name": "Send Payment Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        192
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "<REDACTED_ID_007>",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "<REDACTED_ID_008>",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_009>",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_010>",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_011>",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_012>",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_013>",
              "displayName": "Sent At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_014>",
              "displayName": "Paid Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_015>",
              "displayName": "Reminder Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_016>",
              "displayName": "Last Reminder At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_017>",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "<REDACTED_ID_018>",
      "name": "Record Reminder Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "<REDACTED_ID_019>",
      "name": "Send One Reminder at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        176
      ]
    },
    {
      "parameters": {},
      "id": "<REDACTED_ID_020>",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        272
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "<REDACTED_ID_021>",
      "name": "End"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 10 AM": {
      "main": [
        [
          {
            "node": "Read Sent Invoice Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sent Invoice Rows": {
      "main": [
        [
          {
            "node": "Needs Payment Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Payment Reminder?": {
      "main": [
        [
          {
            "node": "Send One Reminder at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Reminder Email": {
      "main": [
        [
          {
            "node": "Record Reminder Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Reminder Count": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send One Reminder at a Time": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Payment Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Send One Reminder at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "<REDACTED_VERSIONID>",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "<REDACTED_INSTANCEID>"
  },
  "id": "<REDACTED_ID_022>",
  "tags": []
}
