n8n-workflows-main/Send Invoice.json
{
  "name": "Send Invoice",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "<REDACTED_ID_001>",
      "name": "Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "<REDACTED_ID_002>",
      "name": "Read New Invoice Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json[\"Invoice Number\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "<REDACTED_ID_003>"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "<REDACTED_ID_004>",
      "name": "Any New Invoices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "<REDACTED_ID_005>",
              "name": "status",
              "value": "complete",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "<REDACTED_ID_006>",
      "name": "Finished",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        16
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"Invoice Number\"] }}.pdf",
        "limit": 1,
        "filter": {
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "<REDACTED_VALUE>",
            "cachedResultName": "<REDACTED_CACHEDRESULTNAME>"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "<REDACTED_VALUE>",
            "cachedResultName": "<REDACTED_CACHEDRESULTNAME>"
          },
          "whatToSearch": "files",
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "id": "<REDACTED_ID_007>",
      "name": "Find Invoice PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Send One Invoice at a Time\").item.json.Email }}",
        "subject": "=Invoice {{ $(\"Send One Invoice at a Time\").item.json[\"Invoice Number\"] }}",
        "message": "=Hello {{ $(\"Send One Invoice at a Time\").item.json[\"Customer Name\"] || \"there\" }},<br><br>Please find attached invoice {{ $(\"Send One Invoice at a Time\").item.json[\"Invoice Number\"] }} for {{ $(\"Send One Invoice at a Time\").item.json.Amount || \"the billed amount\" }}. Payment is due by {{ $(\"Send One Invoice at a Time\").item.json[\"Due Date\"] || \"the due date listed on the invoice\" }}.<br><br>Thank you,<br>Billing Team",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "invoicePdf"
              }
            ]
          }
        }
      },
      "id": "<REDACTED_ID_008>",
      "name": "Send Invoice Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        192
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Sent At"
          ],
          "schema": [
            {
              "id": "<REDACTED_ID_009>",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_010>",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_011>",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_012>",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_013>",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_014>",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_015>",
              "displayName": "Sent At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "<REDACTED_ID_016>",
              "displayName": "Paid Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_017>",
              "displayName": "Reminder Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_018>",
              "displayName": "Last Reminder At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "<REDACTED_ID_019>",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "<REDACTED_ID_020>",
      "name": "Mark Invoice Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        192
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "<REDACTED_ID_021>",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        288
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "<REDACTED_ID_022>",
      "name": "Send One Invoice at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        176
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "<REDACTED_VALUE>"
        },
        "options": {
          "binaryPropertyName": "invoicePdf",
          "fileName": "={{ $(\"Send One Invoice at a Time\").item.json[\"Invoice Number\"] }}.pdf"
        }
      },
      "id": "<REDACTED_ID_023>",
      "name": "Load Invoice PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9 AM": {
      "main": [
        [
          {
            "node": "Read New Invoice Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read New Invoice Rows": {
      "main": [
        [
          {
            "node": "Any New Invoices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any New Invoices?": {
      "main": [
        [
          {
            "node": "Send One Invoice at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Invoice PDF": {
      "main": [
        [
          {
            "node": "Load Invoice PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Email": {
      "main": [
        [
          {
            "node": "Mark Invoice Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Invoice Sent": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Send One Invoice at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send One Invoice at a Time": {
      "main": [
        [
          {
            "node": "Finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Invoice PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Invoice PDF": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "<REDACTED_VERSIONID>",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "<REDACTED_INSTANCEID>"
  },
  "id": "<REDACTED_ID_024>",
  "tags": []
}
