n8n-workflows-main/Tech Content Generator Telegram.json
{
  "name": "Tech Content Generator Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "<REDACTED_ID_001>",
      "name": "Daily Trend Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {
          "customFields": "comments,points"
        }
      },
      "id": "<REDACTED_ID_002>",
      "name": "Read Hacker News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        16
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "<REDACTED_ID_003>",
      "name": "Combine Trend Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        112
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 10,
        "filters": {
          "publishedAfter": "={{ $now.minus({ days: 1 }).toISO() }}",
          "q": "technology AI software developer tools startup",
          "regionCode": "US",
          "videoType": "any"
        },
        "options": {
          "order": "date",
          "safeSearch": "moderate"
        }
      },
      "id": "<REDACTED_ID_004>",
      "name": "Search Recent YouTube Tech Videos",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create one Facebook Page post for a small business audience interested in tech trends. Use only the source brief below.\n\nNiche: {{ $json.niche }}\nGenerated at: {{ $json.generatedAt }}\n\nSources:\n{{ $json.trendBrief }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a careful tech content strategist. Identify one timely trend from the provided Hacker News and YouTube source brief, then write a Facebook Page post. Do not invent facts. Do not mention sources that are not present. Keep the post under 900 characters, professional, conversational, and useful. Include 2-4 relevant hashtags. Return only the structured fields required by the parser.",
          "maxIterations": 3,
          "returnIntermediateSteps": false,
          "enableStreaming": false
        }
      },
      "id": "<REDACTED_ID_005>",
      "name": "Generate Trend Post",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        112
      ]
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {
          "maxTokens": 1200,
          "responseFormat": "json_object",
          "temperature": 0.5
        }
      },
      "id": "<REDACTED_ID_006>",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        896,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "<REDACTED_ID_007>"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "<REDACTED_ID_008>",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        112
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "218594644817645",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $(\"Generate Trend Post\").item.json.output.facebook_post }}"
              }
            ]
          }
        }
      },
      "id": "<REDACTED_ID_009>",
      "name": "Publish to Facebook Page",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1696,
        16
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "<REDACTED_CHAT_ID>",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        112
      ],
      "id": "<REDACTED_ID_010>",
      "name": "Send message and wait for response",
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        112
      ],
      "id": "<REDACTED_ID_011>",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trend Check": {
      "main": [
        [
          {
            "node": "Read Hacker News RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Recent YouTube Tech Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Hacker News RSS": {
      "main": [
        [
          {
            "node": "Combine Trend Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Trend Sources": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Recent YouTube Tech Videos": {
      "main": [
        [
          {
            "node": "Combine Trend Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Trend Post": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Trend Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Publish to Facebook Page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Publish to Facebook Page": {
      "main": [
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Generate Trend Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "<REDACTED_VERSIONID>",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "<REDACTED_INSTANCEID>"
  },
  "id": "<REDACTED_ID_012>",
  "tags": []
}
