n8n-workflows-main/Ticket Follow-Up.json
{
  "name": "Ticket Follow-Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "<REDACTED_ID_001>",
      "name": "Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        272
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": 1445089923,
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "options": {}
      },
      "id": "<REDACTED_ID_002>",
      "name": "Read Resolved Tickets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json[\"Ticket ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "<REDACTED_ID_003>"
            },
            {
              "leftValue": "={{ String($json[\"Follow Up Sent At\"] || \"\").trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "<REDACTED_ID_004>"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "<REDACTED_ID_005>",
      "name": "Resolved Without Follow Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        112
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Follow-up on resolved ticket {{ $json[\"Ticket ID\"] }}",
        "message": "=Hello {{ $json.Name || \"there\" }},<br><br>Your support ticket <strong>{{ $json[\"Ticket ID\"] }}</strong> has been marked as resolved.<br><br>We are following up to confirm everything is working as expected. If you still need help, please reply to this email and we will reopen the case.<br><br>Thank you,<br>Support Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "<REDACTED_ID_006>",
      "name": "Send Customer Follow Up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        112
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": 1445089923,
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "<REDACTED_ID_007>",
      "name": "Record Customer Follow Up",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "<REDACTED_ID_008>",
      "name": "Follow Up One Customer at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": 1445089923,
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "options": {}
      },
      "id": "<REDACTED_ID_009>",
      "name": "Read Tickets for Team Reminders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        416
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json[\"Ticket ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "<REDACTED_ID_010>"
            },
            {
              "leftValue": "={{ ![\"resolved\", \"closed\"].includes(String($json[\"Ticket Status\"] || \"\").toLowerCase()) && DateTime.fromISO($json[\"Created At\"] || $json.Timestamp) <= $now.minus({ days: 3 }) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "<REDACTED_ID_011>"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "<REDACTED_ID_012>",
      "name": "Unresolved Older Than 3 Days?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        416
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ String($json[\"Ticket Type\"] || \"\").toLowerCase() === \"billing\" ? \"<REDACTED_EMAIL>\" : String($json[\"Ticket Type\"] || \"\").toLowerCase() === \"technical\" ? \"<REDACTED_EMAIL>\" : \"<REDACTED_EMAIL>\" }}",
        "subject": "=Reminder: ticket {{ $json[\"Ticket ID\"] }} is older than 3 days",
        "message": "=<strong>Ticket needs attention</strong><br><br><strong>Ticket:</strong> {{ $json[\"Ticket ID\"] }}<br><strong>Type:</strong> {{ $json[\"Ticket Type\"] || \"General\" }}<br><strong>Status:</strong> {{ $json[\"Ticket Status\"] }}<br><strong>Customer:</strong> {{ $json.Name || \"\" }} &lt;{{ $json.Email || \"\" }}&gt;<br><strong>Subject:</strong> {{ $json.Subject || \"(no subject)\" }}<br><strong>Created:</strong> {{ $json[\"Created At\"] || $json.Timestamp }}<br><br>Please review and update the ticket status.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "<REDACTED_ID_013>",
      "name": "Send Team Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        416
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<REDACTED_VALUE>",
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "sheetName": {
          "__rl": true,
          "value": 1445089923,
          "mode": "list",
          "cachedResultName": "<REDACTED_CACHEDRESULTNAME>",
          "cachedResultUrl": "<REDACTED_CACHEDRESULTURL>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "<REDACTED_ID_014>",
      "name": "Record Team Reminder",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "<REDACTED_ID_015>",
      "name": "Remind One Team at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        400
      ]
    },
    {
      "parameters": {},
      "id": "<REDACTED_ID_016>",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        416
      ],
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        112
      ],
      "id": "<REDACTED_ID_017>",
      "name": "Wait 5 Secs",
      "webhookId": "<REDACTED_WEBHOOKID>"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9 AM": {
      "main": [
        [
          {
            "node": "Read Resolved Tickets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Tickets for Team Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Resolved Tickets": {
      "main": [
        [
          {
            "node": "Resolved Without Follow Up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolved Without Follow Up?": {
      "main": [
        [
          {
            "node": "Follow Up One Customer at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Follow Up": {
      "main": [
        [
          {
            "node": "Record Customer Follow Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Customer Follow Up": {
      "main": [
        [
          {
            "node": "Wait 5 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up One Customer at a Time": {
      "main": [
        [],
        [
          {
            "node": "Send Customer Follow Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tickets for Team Reminders": {
      "main": [
        [
          {
            "node": "Unresolved Older Than 3 Days?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unresolved Older Than 3 Days?": {
      "main": [
        [
          {
            "node": "Remind One Team at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Team Reminder": {
      "main": [
        [
          {
            "node": "Record Team Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Team Reminder": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remind One Team at a Time": {
      "main": [
        [],
        [
          {
            "node": "Send Team Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Remind One Team at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Secs": {
      "main": [
        [
          {
            "node": "Follow Up One Customer at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "<REDACTED_VERSIONID>",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "<REDACTED_INSTANCEID>"
  },
  "id": "<REDACTED_ID_018>",
  "tags": []
}
