n8n-workflows-main/Weather Chat.json
{
  "name": "Weather Chat",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.lat }}&longitude={{ $json.long }}&current=temperature_2m",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        -128
      ],
      "id": "<REDACTED_ID_001>",
      "name": "Get Weather Data"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        176,
        -224
      ],
      "id": "<REDACTED_ID_002>",
      "name": "When chat message received",
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "<REDACTED_ID_003>",
              "name": "lat",
              "value": "={{ $json.results[0].latitude }}",
              "type": "number"
            },
            {
              "id": "<REDACTED_ID_004>",
              "name": "long",
              "value": "={{ $json.results[0].longitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -128
      ],
      "id": "<REDACTED_ID_005>",
      "name": "Extract Lat-Long"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        -320
      ],
      "id": "<REDACTED_ID_006>",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        -320
      ],
      "id": "<REDACTED_ID_007>",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -224
      ],
      "id": "<REDACTED_ID_008>",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "<REDACTED_ID_009>",
              "leftValue": "={{ $json.current.temperature_2m }}",
              "rightValue": 32,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        -224
      ],
      "id": "<REDACTED_ID_010>",
      "name": "LT 32"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "<REDACTED_ID_011>",
              "leftValue": "={{ $json.current.temperature_2m }}",
              "rightValue": 22,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        -320
      ],
      "id": "<REDACTED_ID_012>",
      "name": "LT 22"
    },
    {
      "parameters": {
        "message": "=Too hot in {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1520,
        -128
      ],
      "id": "<REDACTED_ID_013>",
      "name": "Chat Hot",
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "message": "=Chilly in {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1744,
        -416
      ],
      "id": "<REDACTED_ID_014>",
      "name": "Chat Chilly",
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "message": "=Nice weather in {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1744,
        -224
      ],
      "id": "<REDACTED_ID_015>",
      "name": "Chat Nice",
      "webhookId": "<REDACTED_WEBHOOKID>"
    },
    {
      "parameters": {
        "url": "=https://geocoding-api.open-meteo.com/v1/search?name={{ $json.chatInput }}&count=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -128
      ],
      "id": "<REDACTED_ID_016>",
      "name": "Get Location Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Location Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lat-Long": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "LT 32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LT 32": {
      "main": [
        [
          {
            "node": "LT 22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Hot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LT 22": {
      "main": [
        [
          {
            "node": "Chat Chilly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Nice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Location Data": {
      "main": [
        [
          {
            "node": "Extract Lat-Long",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "<REDACTED_VERSIONID>",
  "meta": {
    "instanceId": "<REDACTED_INSTANCEID>"
  },
  "id": "<REDACTED_ID_017>",
  "tags": []
}
